<br>
<br>
<img src="~/Images/adminarea.jpg" alt="Área de administração" />
<div class="container">
    <div class="jumbotron">
        <p>
            Esta é a áreado Administrador
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
</div>