<br />
<br />
<div class="container">
    <br>
    <img src="~/Images/faleconosco1.jpg" alt="fale conosco"/>
    <div>
        <h2>Queremos ouvir o que você tem a dizer</h2>
        <p>
            Se você tiver alguma duvida ou sugestão fale conosco
        </p>
        <p>
            <span class="glyphicon glyphicon-envelope"></span>
            <email endereco="robson.m95@hotmail.com" conteudo="Envie um e-mail"></email>
            <br/>
            <span class="glyphiconglyphicon-phone"></span>
            (14) 99708-4921
            <br />
            <span class="glyphicon glyphicon-home" > </span>
            Av. teste  rua da desconsolacao - sp
        </p>
    </div>
</div>